# Описание проекта

[Ссылка на датасет](https://drive.google.com/drive/folders/1g7oH5oz4vUmh6YJNGjsUrHk47cTrfj6Z?usp=sharing)



Вам требуется определить, стоит ли дать клиенту банка кредит. Банк выдает всем кредит со ставкой 10% годовых

В рамках проекта вам нужно будет сделать Jupyter ноутбук, в котором присутствует:
- Анализ датасета
- Моделирование (эксперименты с моделями, код обучения и предсказания итоговой модели)
- Предложение подходящей метрики

Ноутбук нужно будет защитить всей командой, где будете отвечать на вопросы в зависимости от вашей роли

Кроме оценки за защиту еще есть соревновательная часть - у вас имеется таблица с тестовой выборкой, в которой нет информации о том, дефолтнулся клиент или нет. Вы соревнуетесь с остальными командами по качеству и получаете эту оценку пропорционально своему месту (есть минимум, если вы получите f1 хотя бы 0.5)

In [ ]:
import pandas as pd

df = pd.read_csv("data/train.csv")
df

,лимит_нарушен,пол,тип,цель,кредитоспособность,другие_кредиты,бизнес,сумма,сбор,срок,...,один_платеж,стоимость_имущества,работа,тип_залога,тип_кредита,кредитный_рейтинг,возраст,прямой_залог,дефолт,речь
0,0.0,м,3.0,0.0,1.0,NaN,0.0,174765.264968,normal,245.885949,...,0.0,244488.111841,осн,дом,2.0,709.508335,55-64,1.0,0,"""Hey there! I’m a guy with a solid job and a m..."
1,0.0,NaN,NaN,0.0,1.0,0.0,0.0,NaN,want,365.885949,...,0.0,NaN,осн,дом,1.0,722.508335,55-64,NaN,0,"""Hi there! We are a couple with a solid financ..."
2,0.0,м,3.0,1.0,1.0,0.0,0.0,NaN,regular,365.885949,...,NaN,364488.111841,осн,дом,1.0,785.508335,55-64,1.0,0,"""I'm a male client with a modest income. I wor..."
3,0.0,NaN,3.0,1.0,1.0,0.0,0.0,474765.264968,common,365.885949,...,0.0,894488.111841,осн,дом,NaN,594.508335,35-44,1.0,0,"""Hello, we’re a working couple enjoying the st..."
4,0.0,NaN,3.0,1.0,NaN,0.0,0.0,384765.264968,excessive,365.885949,...,0.0,504488.111841,осн,дом,NaN,589.508335,55-64,NaN,0,"""Greetings, we're Chris and Sam. Both employed..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,NaN,3.0,1.0,NaN,0.0,0.0,NaN,not slight,125.885949,...,0.0,744488.111841,осн,дом,2.0,NaN,35-44,NaN,0,"""Hello! I’m here to introduce myself. I have a..."
7996,NaN,NaN,NaN,1.0,1.0,0.0,1.0,NaN,mean,185.885949,...,0.0,184488.111841,осн,дом,1.0,796.508335,>74,1.0,0,"""Hello! I’m excited to be here. My income is m..."
7997,0.0,м,3.0,3.0,1.0,NaN,0.0,394765.264968,Whole lotta nothin',365.885949,...,0.0,NaN,осн,дом,4.0,584.508335,25-34,1.0,1,"""I'm just an ordinary guy trying to make ends ..."
7998,NaN,NaN,NaN,1.0,1.0,0.0,0.0,594765.264968,Total lack of presence,365.885949,...,0.0,NaN,осн,дом,NaN,873.508335,35-44,1.0,0,"""Hello! We’re a couple looking to manage our f..."
7999,0.0,ж,1.0,0.0,1.0,0.0,0.0,684765.264968,minuscule,365.885949,...,0.0,NaN,осн,дом,2.0,NaN,35-44,1.0,0,"""I'm a successful businesswoman with a dedicat..."

In [ ]:
print("Числовые признаки:")
num_cols = df.select_dtypes(exclude=object).columns
df[num_cols]

Числовые признаки:

,лимит_нарушен,тип,цель,кредитоспособность,другие_кредиты,бизнес,сумма,срок,амортизация,только_процент,один_платеж,стоимость_имущества,тип_кредита,кредитный_рейтинг,прямой_залог,дефолт
0,0.0,3.0,0.0,1.0,NaN,0.0,174765.264968,245.885949,0.0,0.0,0.0,244488.111841,2.0,709.508335,1.0,0
1,0.0,NaN,0.0,1.0,0.0,0.0,NaN,365.885949,0.0,0.0,0.0,NaN,1.0,722.508335,NaN,0
2,0.0,3.0,1.0,1.0,0.0,0.0,NaN,365.885949,0.0,0.0,NaN,364488.111841,1.0,785.508335,1.0,0
3,0.0,3.0,1.0,1.0,0.0,0.0,474765.264968,365.885949,0.0,0.0,0.0,894488.111841,NaN,594.508335,1.0,0
4,0.0,3.0,1.0,NaN,0.0,0.0,384765.264968,365.885949,0.0,0.0,0.0,504488.111841,NaN,589.508335,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,3.0,1.0,NaN,0.0,0.0,NaN,125.885949,0.0,0.0,0.0,744488.111841,2.0,NaN,NaN,0
7996,NaN,NaN,1.0,1.0,0.0,1.0,NaN,185.885949,0.0,1.0,0.0,184488.111841,1.0,796.508335,1.0,0
7997,0.0,3.0,3.0,1.0,NaN,0.0,394765.264968,365.885949,0.0,0.0,0.0,NaN,4.0,584.508335,1.0,1
7998,NaN,NaN,1.0,1.0,0.0,0.0,594765.264968,365.885949,0.0,0.0,0.0,NaN,NaN,873.508335,1.0,0
7999,0.0,1.0,0.0,1.0,0.0,0.0,684765.264968,365.885949,0.0,0.0,0.0,NaN,2.0,NaN,1.0,0

In [ ]:
print("Строковые/категориальные признаки:")
cat_cols = df.select_dtypes(object).columns
df[cat_cols]

Строковые/категориальные признаки:

,пол,сбор,работа,тип_залога,возраст,речь
0,м,normal,осн,дом,55-64,"""Hey there! I’m a guy with a solid job and a m..."
1,NaN,want,осн,дом,55-64,"""Hi there! We are a couple with a solid financ..."
2,м,regular,осн,дом,55-64,"""I'm a male client with a modest income. I wor..."
3,NaN,common,осн,дом,35-44,"""Hello, we’re a working couple enjoying the st..."
4,NaN,excessive,осн,дом,55-64,"""Greetings, we're Chris and Sam. Both employed..."
...,...,...,...,...,...,...
7995,NaN,not slight,осн,дом,35-44,"""Hello! I’m here to introduce myself. I have a..."
7996,NaN,mean,осн,дом,>74,"""Hello! I’m excited to be here. My income is m..."
7997,м,Whole lotta nothin',осн,дом,25-34,"""I'm just an ordinary guy trying to make ends ..."
7998,NaN,Total lack of presence,осн,дом,35-44,"""Hello! We’re a couple looking to manage our f..."
7999,ж,minuscule,осн,дом,35-44,"""I'm a successful businesswoman with a dedicat..."

In [ ]:
print("Целевая переменная:")
df["дефолт"].value_counts()

Целевая переменная:

дефолт
0    6106
1    1894
Name: count, dtype: int64